.bg_image {
  background-image: url("../../../assets/bg-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.175);
}
.inputs {
  width: 100%;
  display: block;
  border: 1px seagreen;
  outline: none;
  padding: 5px 18px;
  font-size: 18px;
}
.labels {
  padding: 0px 19px;
  display: block;
  font-size: 15px;
}
