.responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 0.5rem;
}
.bg_image {
  background-image: url(/_next/static/media/elips.a8c73d3c.png);
  background-position: 104% -10%;
  background-repeat: no-repeat;
  background-size: 17%;
  object-fit: contain;
}
/* .dotedImage {
  background-image: url("../../../../public/assets/doted.png");
  background-position: 0% -10%;
  background-repeat: no-repeat;
  background-size: 17%;
  object-fit: contain;
} */
