.responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  margin: auto;
  padding: 0px 10px;
}

.buttons:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: orange;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.buttons:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.buttons span {
  text-align: center;
  text-decoration: none;
  padding: 4px 0px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.buttons:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}
.buttons img {
  z-index: 9999;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
